argparse
cudf
ffmpeg-python
ipykernel
jupyter
jupyterlab
lexical-diversity
librosa
networkx
nltk
numpy
openpyxl
openai-whisper
praat-parselmouth
pydrive
pymorphy3
requests
seaborn
sentence-transformers
scikit-learn
spicy
stanza
torch
torchaudio
transformers
xgboost